.app {
  display: flex;
  flex-direction: column;
}

.main {
  text-align: center;
  padding: 50% 0;
  color: rgb(56, 116, 204);
  font-size: 80px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
}