.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .tag-input {
  width: 60%;
  display: flex;
  border-bottom: 2px solid #545454;
  padding: 3px 0;
}

.app .input-form .input {
  height: 40px;
  width: 100%;
  border-width: 0;
  font-size: 20px;
}

.app .input-form .input:focus {
  outline: None;
}

.app .input-form button {
  border: none;
  display: none;
}